html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
    height: 100%;
    background-color: rgba(243,244,245);
}

main {
    height: calc(100% - 57px);
    display: flow-root;
}

.w-actions {
    width: 120px;
}

table td {
    vertical-align: middle;
}

.container.login {
    max-width: 500px;
}

/*
body {
  margin-bottom: 60px;
}*/